{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{{ attach_library('bootstrap_barrio/node') }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{# Fuente: https://blog.usejournal.com/getting-drupal-8-field-values-in-twig-22b80cb609bd #}

{% if node.field_columnas_opciones.0.value == 'Sencillo' %}
	{% if node.field_columnas_imagen.0.value == 1 %}
		{% set classes = classes|merge(['col-md-12', 'imagen-1-cols']) %}
	{% elseif node.field_columnas_imagen.0.value == 2 %}
		{% set classes = classes|merge(['col-md-6', 'imagen-2-cols']) %}
	{% elseif node.field_columnas_imagen.0.value == 3 %}
		{% set classes = classes|merge(['col-md-4', 'imagen-3-cols']) %}
	{% elseif node.field_columnas_imagen.0.value == 4 %}
		{% set classes = classes|merge(['col-md-3', 'imagen-4-cols']) %}
	{% else %}
		{% set classes = classes|merge(['col-md-12', 'imagen-1-cols']) %}
	{% endif %}
{% elseif node.field_columnas_opciones.0.value == 'Avanzado' %}
	{% set bsclasses = node.field_columnas_personalizado_.0.value|raw %} 
	{% set classes = classes|merge([bsclasses]) %}
	{% set classes = classes|merge(['imagen-p-cols']) %}
{% endif %}

{% if node.field_columnas_opciones.0.value == 'Sencillo' %}
	<article{{ attributes.addClass(classes) }}>
{% elseif node.field_columnas_opciones.0.value == 'Avanzado' %}
	{% set height_user = node.field_altura_columna_px_.0.value|raw %}
	
	<article{{ attributes.addClass(classes) }} style="height: {{ height_user }}px; overflow: hidden; ">
{% endif %}
   <header>
    {{ title_prefix }}
    {% if label and not page %}
      <h2{{ title_attributes.addClass('node__title') }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}
    {% if display_submitted %}
      <div class="node__meta">
        {{ author_picture }}
        {% block submitted %}
          <em{{ author_attributes }}>
            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          </em>
        {% endblock %}
        {{ metadata }}
      </div>
    {% endif %}
  </header> 
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}> 
    {% set img_uri = node.field_imagen_imagen|file_uri %}
	{% if content.field_link_imagen is not empty and node.field_link_imagen.0.url != "" and node.field_link_imagen.0.url != null %}
		{% set has_link = true %}
	{% endif %}
	{% if has_link == true %}
		{% set img_link = node.field_link_imagen.0.url %}
		{% set img_link_target = node.field_link_imagen.0.options.attributes.target %}

		{% if img_link_target == "_blank" %}
			{% set img_link_target = "target='_blank'" %}
		{% else %}
			{% set img_link_target = "" %}
		{% endif %}
		<a href="{{ img_link }}" {{ img_link_target }}>
	{% endif %}
    {% if node.field_columnas_opciones.0.value == 'Sencillo' %}
	    {% if node.field_columnas_imagen.0.value == 1 %}	
	    {% elseif node.field_columnas_imagen.0.value == 2 %}
			<img src="{{ img_uri | image_style('2_columnas_6_cols_bootstrap_') }}">
	    {% elseif node.field_columnas_imagen.0.value == 3 %}
			<img src="{{ img_uri | image_style('3_columnas_4_cols_bootstrap_') }}">
	    {% elseif node.field_columnas_imagen.0.value == 4 %}
			<img src="{{ img_uri | image_style('4_columnas_3_cols_bootstrap_') }}">
		{% endif %}
	{% elseif node.field_columnas_opciones.0.value == 'Avanzado' %}
		<img src="{{ file_url(img_uri) }}">
    {% endif %}
	{% if has_link == true %}
   		</a>
   	{% endif %}  
   	</div>
</article>
