{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.top_header_form: Items for the top header form region.
 * - page.header: Items for the header region.
 * - page.header_form: Items for the header form region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * Theme variables:
 * - navbar_top_attributes: Items for the header region.
 * - navbar_attributes: Items for the header region.
 * - content_attributes: Items for the header region.
 * - sidebar_first_attributes: Items for the highlighted region.
 * - sidebar_second_attributes: Items for the primary menu region.
 * - sidebar_collapse: If the sidebar_first will collapse.
 *
 * @see template_preprocess_page()
 * @see bootstrap_barrio_preprocess_page()
 * @see html.html.twig
 */

 https://www.codeply.com/go/PvHpcBNuAp
#}
<div id="page-wrapper">
  <div id="page">
    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
		<div class="col-12 l-header">
			<div class="row">
				<div class="col-2 mr-auto">
					<img src="http://devserver.buap.mx/dev-drupal/sites/all/themes/plantilla_1/images/escudo_blanco.png" class="img img-fluid">
				</div>
				<div class="col-5 ml-auto">
			        <nav class="navbar navbar-expand-sm navbar-light bg-buap">
			            <div class="collapse navbar-collapse navbars" id="collapse_target2">
			                <ul class="navbar-nav mx-auto">
			                    <li class="nav-item">
			                        <a class="nav-link" href="#">Autoservicios</a>
			                    </li>
			                    <li class="nav-item">
			                        <a class="nav-link" href="#">Correo BUAP</a>
			                    </li>  
			                </ul>
			            </div>
			        </nav>
				</div>
			</div>
		</div>
		<div class="col-12 l-menu-secundario">
			<div class="row">
				<div class="col-3 ml-auto l-name">
					<h2>Mi sitio BUAP</div>
				</div>
			</div>
			{# Get menu items #}
			{% set items = simplify_menu('menu-de-sitio-buap') %}
			
			{# Iterate menu tree #}
			<nav class="navbar navbar-expand-sm navbar-light bg-buap-main">
	            <div class="collapse navbar-collapse navbars" id="collapse_target2">
                	<ul class="navbar-nav mx-auto">

				  {% for menu_item in items.menu_tree %}
				    <li class="nav-item">
				      <a class="nav-link" href="{{ menu_item.url }}">{{ menu_item.text }}</a>
				    </li>
				  {% endfor %}
				  </ul>
				 </div>
			</nav>
		</div>
    </header>
 	
    <div id="main-wrapper" class="layout-main-wrapper clearfix">
      {% block content %}
        <div id="main" class="{{ container }}">
          {% if is_front %}
          <style>
          	.view-lienzo-pagina-destino .node__title, .view-slider-pagina-destino .node__title { display: none; }
          </style>
          {# <div class="col-12" style="height: 360px; border: 1px solid black; text-align:center;"> SLIDER PRINCIPAL </div> #}
          {{ slider_principal }}
          {{ recursos }}
          <p>&nbsp;</p>
          {% else %}
          	{{ page.breadcrumb }}
              <div class="row row-offcanvas row-offcanvas-left clearfix">
                  <main{{ content_attributes }}>
                    <section class="section">
                      <a id="main-content" tabindex="-1"></a>
                      {{ page.content }}
                    </section>
                  </main>
                
              </div>
                          
          {% endif %}
          
            
        </div>
      {% endblock %}
	{% if is_front %}
      <script>
      	var xmlhttp = new XMLHttpRequest();
      	xmlhttp.onreadystatechange = function() {
      	  if (this.readyState == 4 && this.status == 200) {
      	    var myArr = JSON.parse(this.responseText);
      	    for(i=0;i<=2;i++) {
      	    	nid = myArr[i]['nid'];
      	    	title = myArr[i]['title'];
      	    	img = myArr[i]['filename'];

      	    	var parentDivBoletin = document.getElementById("noticias-boletin").innerHTML += "<div class='col-4 col-noticia-boletin'><div class='content'><div class='noticias-buap'><div class='imagen'><a href='https://boletin.buap.mx/?q=node/" + nid + "' target='_blank'><img src='" + img + "' class='img img-fluid' /></a></div><div class='titulo'>" + title + "</div><div class='leer-mas'><a href='https://boletin.buap.mx/?q=node/" + nid + "' target='_blank'>Leer Más</a></div></div></div></div>";
      	    }
      	    
      	  }
      	};
      	xmlhttp.open("GET", "https://aplicaciones.buap.mx/app-buap-common/index.php/API/getLatestNoticias_p", true);
      	xmlhttp.send();
      </script>
      <div class="container-fluid container-noticias">
      	<div class="row">
      		<div class="col-12 col-noticias-buap">
      			<h2>Entérate de lo que sucede en la BUAP</h2>
      			<div class="container">
      				<div class="row"  id="noticias-boletin">

      				</div>
      			</div>
      		</div>
      	</div>
      </div>

     
      {% endif %}
    </div>
    
    <footer class="site-footer .l-footer">
      {% block footer %}
        <div class="col-12 row">
        	<div class="col-2">
        		<img src="http://devserver.buap.mx/dev-drupal/sites/all/themes/plantilla_1/images/logo_buap.png" class="img img-fluid">
        	</div>
        	<div class="col-3">
	        	<strong>Benemérita Universidad Autónoma de Puebla</strong>
	        	<p>4 Sur 104 Centro Histórico C.P. 72000<br>
	        	Teléfono +52 (222) 229 55 00</p>
        	</div>
        	<div class="col-3 col-links-institucionales">
        		<a href="http://www.transparencia.buap.mx/">Transparencia y Acceso a la Información</a><br>
        		<a href="https://consultapublicamx.inai.org.mx/vut-web/?idSujetoObigadoParametro=4479&idEntidadParametro=21&idSectorParametro=24">Obligaciones de Transparencia</a><br>
        		<a href="http://www.pdi.buap.mx/">PDI 2017-2021</a><br>
        		<a href="http://www.buap.mx/privacidad">Aviso de Privacidad</a>
        	</div>
        	<div class="col-4">
        		{#<strong>{{ getNombreSitio }}</strong>
        		{{ getDireccionSitio }}
        		{{ dump(getNombreSitio()) }}#} 
        	</div>
        </div>
      {% endblock %}
    </footer>
  </div>
</div>
