/**
 * @file
 * Subtheme specific CSS.
 */
:root {
	--azul-claro: rgb(0,181,226);
	--azul-claro-tr: rgba(0,181,226,0.5);
	--azul-oscuro: rgb(0,59,92);
	--azul-oscuro-tr: rgba(0,59,92,0.5);
	--blanco: rgb(255,255,255);
	--blanco-tr: rgba(255,255,255,0.5);
}

@font-face {
	font-family: sourcesans;
	src: url(/dev-drupal9/web/themes/custom/plantilla_buap/css/fonts/woff/SOURCESANSPRO-REGULAR.WOFF) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: sourcesans_bold;
	src: url(/dev-drupal9/web/themes/custom/plantilla_buap/css/fonts/woff/SOURCESANSPRO-SEMIBOLD.WOFF) format('woff');
	font-weight: bolder;
}

@font-face {
	font-family: sourcesans_light;
	src: url(/dev-drupal9/web/themes/custom/plantilla_buap/css/fonts/woff/SOURCESANSPRO-LIGHT.WOFF) format('woff');
}

@font-face {
	font-family: sourcesans_extralight;
	src: url(/dev-drupal9/web/themes/custom/plantilla_buap/css/fonts/woff/SOURCESANSPRO-EXTRALIGHT.WOFF) format('woff');
}

@font-face {
	font-family: sourcesans_bolder;
	src: url(/dev-drupal9/web/themes/custom/plantilla_buap/css/fonts/woff/SOURCESANSPRO-BOLD.WOFF) format('woff');
}

* {
	font-family: sourcesans;
}

.l-header {
	background-color: rgb(0, 60, 94);
}

.l-header .bg-buap .nav-link { color: white; }
.l-header .bg-buap .nav-link:hover { color: rgb(0,201,240); }

.l-menu-secundario .l-name h2 {
	text-align: center;
	display: inline-block;
	float: right;
	color: rgb(0,59,92);
	background: rgba(0,0,0,0.12);
	padding: 10px 60px;
	border-left: 4px solid #00c9f0;
	border-right: 4px solid #00c9f0;
	margin-top: 5px;
	margin-bottom: 5px;
	letter-spacing: 1px;
	font-size: 20px;
}

.container-noticias {
	background-color: #e6e6e6;
	color: rgb(0,59,92);
	padding-top: 30px;
	padding-bottom: 30px;
}

.container-noticias h2 {
	font-family: sourcesans_light;
	font-size: 36px;
	padding-bottom: 25px;
	text-align: center;
	font-variant: small-caps;
}

.container-noticias .titulo { font-family: sourcesans_light; }
.container-noticias .leer-mas a { font-weight: bold; color: #00b5df; font-size: 20px; }
footer, .site-footer {
	background-color: rgb(0, 60, 94) !important;
	color: rgb(0,201,240);
	font-size: 13px;
}

footer .col-links-institucionales {
	text-align: center;
}

footer a {
	color:  rgb(0,201,240);
}

/* Recursos */

[class$="-2-cols"] {
	width: 540px;
	height: 322px;
}

[class$="-3-cols"] {
	width: 350px;
	height: 209px;
}

[class$="-4-cols"] {
	width: 255px;
	height: 205px;
}

.node--type-imagen img { width: 100%; }
.view-lienzo-pagina-destino .node__content { margin-top: 0 !important; }

[class*="imagen-link"] .field--name-field-link-imagen-link {
	position: absolute;
	bottom: 10px;
	width: 100%;
}

[class*="imagen-link"] .field--name-field-link-imagen-link a {
	display: block;
    position: relative;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: white;
    border: 1px solid white;
    background: rgba(0,0,0,0.5);
    text-decoration: none;
    text-shadow: 1px 1px #333333;

}

[class*="imagen-link"] .field--name-field-link-imagen-link a:hover {
	background: rgb(0 199 245);
}

.imagen-link-2-cols .field--name-field-link-imagen-link { font-size: 25px; }

[class*="texto-link"] {
	background: #e6ebed;
	color: #002d4a;
	overflow: hidden;
	position: relative;
	background-clip: content-box;
}

[class*="texto-link"] .field--name-title {
	width: 90%;
 	text-transform: uppercase;
 	font-size: 25px;
 	font-weight: bold;
 	margin: 0 auto;
 	display: block;
 	border-bottom: 1px solid black;
 	padding-bottom: 10px;
}

[class*="texto-link"] .node__content { height: inherit; }

[class*="texto-link"] .node__content > div { height: inherit;}

[class*="texto-link"] .field--name-body {
	width: 90%;
	text-align: right;
	padding-top: 10px;
	overflow-y: auto;
	margin: 0 auto;
	display: block;
}

[class*="texto-link"] .field--name-field-link-texto-link a {
	width: 45%;
	display: block;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	color: #002d4a;
	border: 1px solid black;
	padding: 5px;
	margin-top: 5px;
}
[class*="texto-link"] .field--name-field-link-texto-link a:hover {
	background: rgba(0, 181, 226, 0.75);
	color: white;
	border-color: white;
}

.texto-link-2-cols .field--name-body {
	height: 65%;
	max-height: 65%;
}

.texto-link-3-cols .field--name-body { 
	height: 50%;
	max-height: 50%;
}


.menu-azul {
	background: var(--azul-claro);
	color: white;
}

.menu-azul a { color: white; }
