/**
 * @file
 * Icons for Quick Edit module.
 */

.quickedit .icon {
  position: relative;
  min-width: 2.5em;
  min-height: 1em;
}
.quickedit .icon.icon-only {
  text-indent: -9999px;
}
.quickedit .icon.icon-end {
  padding-right: 2.5em; /* LTR */
}
[dir="rtl"] .quickedit .icon.icon-end {
  padding-right: 0;
  padding-left: 2.5em;
}
.quickedit .icon:before {
  position: absolute;
  top: 0;
  left: 0; /* LTR */
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}
[dir="rtl"] .quickedit .icon:before {
  right: 0;
  left: auto;
}
.quickedit .icon-end:before {
  right: 0.5em; /* LTR */
  left: auto; /* LTR */
  width: 18px;
}
[dir="rtl"] .quickedit .icon-end:before {
  right: auto;
  left: 0.5em;
}
.quickedit button.icon {
  font-size: 1em;
}
.quickedit .icon-pencil {
  margin-left: 0.5em;
  padding-left: 1.5em;
}

/**
 * Images.
 */
.quickedit .icon-close:before {
  top: 10px;
  height: 12px;
  background-image: url(/dev-drupal9/web/core/modules/quickedit/css/../../../misc/icons/787878/ex.svg);
}
.quickedit .icon-close:hover:before,
.quickedit .icon-close:active:before {
  background-image: url(/dev-drupal9/web/core/modules/quickedit/css/../../../misc/icons/000000/ex.svg);
}
.quickedit .icon-throbber:before {
  background-image: url(/dev-drupal9/web/core/modules/quickedit/css/../images/icon-throbber.gif);
}
.quickedit .icon-pencil:before {
  background-image: url(/dev-drupal9/web/core/modules/quickedit/css/../../../misc/icons/5181c6/pencil.svg);
  background-position: left center;
  background-size: 1.3em;
}
