/**
 * @file
 * Visual styles for icons.
 */

.icon-help {
  background: url(/dev-drupal9/web/themes/contrib/bootstrap_barrio/css/components/../../images/help.png) 0 50% no-repeat;
  /* LTR */
  padding: 1px 0 1px 20px;
  /* LTR */
}

[dir="rtl"] .icon-help {
  background-position: 100% 50%;
  padding: 1px 20px 1px 0;
}

.feed-icon {
  background: url(/dev-drupal9/web/themes/contrib/bootstrap_barrio/css/components/../../images/feed.svg) no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
  width: 16px;
  direction: ltr;
  height: 16px;
}

/* Menu toggler fall back icon */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
